.perfilContainer {
    width: 180vh;
    height: 45vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

/*FOTO DE PERFIL*/

.photoperfil {
    width: 40vh;
    height: 40vh;
    background-color: aqua;
    border-radius: 50%;
    background-image: url(../imgComponentes/cliente.png);
    background-size:cover ;
    background-position: center center;
}
/*FOTO DE PERFIL*/

/*TEXTO DO PERFIL*/

.infoperfil {
    margin-left: 3%;
}

.infoperfil h3 {
    font-size: 60px;
    font-style: normal;
}

.infoperfil span {
    font-size: 16px;
    margin-left: 3%;
}

span svg{
    color: rgb(255, 238, 0);
}

/*TEXTO DO PERFIL*/

/*REPUTAÇÃO E AVALIAÇÃO*/

.repu{
    background-color: aqua;
    width: 40vh;
    height: 40vh;
    margin-left: 25%;
}

/*REPUTAÇÃO E AVALIAÇÃO*/