* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.ContInfo {
    width: 500px;
    margin-left: 60px;
    margin-top: 100px;
}

.ContInfo h1 {
    font-size: 64px;
}

.ContInfo p {
    font-size: 23px;
    margin-top: 20px;

}

/*  */

.ContBtnLogin {
    display: none;
}

.BtnEntrar {
    height: 35px;
    padding: 0px 15px;
    font-size: 1.2rem;
    border: none;
    background-color: #DF931D;
    color: #fff;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.BtnEntrar:nth-child(1) {
    margin-right: 20px;

}

.ImgCirc1 {
    width: 880px;
    height: 880px;
    flex-shrink: 0;
    border-radius: 1077px;
    background: #FFD29C;
    position: absolute;
    top: -250px;
    right: -300px;
    z-index: -1;
}

.ImgCirc2 {
    width: 750px;
    height: 750px;
    flex-shrink: 0;
    border-radius: 933px;
    background: url(../img_home/Ellipse.png), lightgray 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -136px;
    right: -172px;
    z-index: -1;
}

.ImgCirc3 {
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    background: url(../img_home/Group\ 3.png), rgba(211, 211, 211, 0) 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 180px;
    right: 200px;

}

/*  */

.ContScrollPage {

    display: flex;
    justify-content: center;
    position: relative;
}

.ScrollPage {
    width: 850px;
    margin-top: 300px;
    background-color: #FFD29C;
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
}

.ScrollPage button {
    width: 100%;
    border: none;
    background-color: transparent;
    margin: auto;
    font-size: 30px;
    padding: 20px 0;
    cursor: pointer;
}

.ScrollPage button:hover {
    background-color: #DF931D;
    color: #fff;
    border-radius: 20px 20px 0px 0px;
    transition: all .3s;
}

/*  */

.RepH1 {
    width: 600px;
    font-size: 60px;
    color: #DF931D;
    margin-top: 120px;
    margin-left: 60px;
}

.CircRep {
    width: 700px;
    height: 700px;
    border-radius: 923px;
    background: #FFD29C;
    position: absolute;
    top: 900px;
    right: -90px;

}

.CircRep2 {
    width: 680px;
    height: 680px;
    border-radius: 923px;
    background-image: url(../img_home/ImgSlideBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 950px;
    right: -40px;

}

.CircRep3 {
    width: 470px;
    height: 470px;
    background: url(../img_home/BgImg2.jfif), no-repeat;
    background-position: right;
    background-size: cover;
    border-radius: 50%;
    transform: rotate(-103.054deg);
    position: absolute;
    top: 1150px;
    right: 380px;
    z-index: -1;

}

.FlexRepSpan{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ImgCircCasa{
    width: 300px;
} 

  .CircRepSpan{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 0px;
    border-radius: 50%;
}   

.CircRep2 span{
    overflow: hidden;
    position: relative;
    top: 150px;
    font-size: 50px;
    
    display: flex;

    animation: spin_words 15s infinite;

}
.CircRep2 span p{
    font-size: 50px;
}
.CircRep2 span:nth-child(1){
    margin-bottom: 250px;

}
.CircRep2 span:nth-child(2){
    margin-bottom: 250px;

}
.CircRep2 span:nth-child(3){
    margin-bottom: 250px;

}
@keyframes spin_words{
    10%{
        transform: translateY(-180%);
    }
    25%{
        transform: translateY(-350%);
    }
    35%{
        transform: translateY(-540%);
    }
    
    } 
 /*  */


.ComoFunc {

    display: flex;
    justify-content: center;
    margin-top: 700px;
}

.ImgComoFunc {
    width: 550px;
}

.TitleComoFunc {
    width: 600px;
    height: auto;
    margin-left: -70px;
}

.TitleComoFunc h1 {
    color: #DF931D;
    font-size: 50px;
}

.TitleComoFunc p {
    font-size: 23px;
    margin-top: 20px;
    text-align: justify;
}

.BtnComoFunc button {
    height: 35px;
    padding: 0px 15px;
    font-size: 1.2rem;
    border: none;
    background-color: #5093EB;
    color: #fff;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.BtnComoFunc button:nth-child(2) {
    background-color: #fcac34;
}

.BtnComoFunc button:nth-child(2):hover {
    background-color: #df7a00dc;
}

.BtnComoFunc button:nth-child(1) {
    margin-right: 10px;
}

.BtnComoFunc button:hover {
    background: #0D3365;
    transition: all .3s;
}

.ContInfComoFunc {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: -30px;
    text-align: center;
}

.InfComoFunc {
    width: 200px;
}

.ImgInfComoFunc {
    width: 80px;
}

.ContVideo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}


.Video {
    width: 900px !important;
    height: 500px !important;
    margin-top: 150px;
}

/*  */

.QuemSomos {
    width: 100%;
    height: auto;
    margin-top: 200px;
    display: flex;
    align-items: center;
}

.ImgQuemSomos {
    width: 700px;
    margin-left: -200px;
}

.TextQuemSomos {
    width: 700px;
    margin-left: 30px;
}

.TextQuemSomos h1 {
    font-size: 50px;
    color: #DF931D;
}

.TextQuemSomos p {
    font-size: 25px;
    margin-top: 40px;
}

/*  */

.Seguranca {
    width: 100%;
    height: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.ImgSeguranca {
    width: 700px;
}

.TextSeguranca {
    width: 600px;
    margin-left: 60px;
}

.TextSeguranca h1 {
    font-size: 50px;
    color: #DF931D;
}

.TextSeguranca p {
    font-size: 25px;
    margin-top: 40px;
}

.TextSeguranca .Bgc {
    width: 350px;
}

/* */

.Eco {
    width: 100%;
    height: auto;
    position: relative;
}

.ImgEco {
    width: 100%;
    height: auto;
    margin-top: 150px;
}

.ImgCircEco {
    width: 500px;
    position: absolute;
    top: 300px;
    left: 100px;
}

.TextEco {
    width: 500px;
    position: absolute;
    top: 200px;
    right: 100px;
}

.TextEco h1 {
    color: #DF931D;
    font-size: 50px;
}

.TextEco p {
    font-size: 25px;
    margin-top: 40px;
}

/*  */

.parceiros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    letter-spacing: 10px;
}

.parceiros h1 {
    font-size: 50px;
    color: #DF931D;
}

.logos img {
    width: 250px;
}

/*  */
hr {
    width: 80%;
    margin: auto;
}

.ContFoot {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

h5 {
    font-weight: normal;
}

.IconsRedes svg {
    font-size: 40px;
    margin-right: 5px;
}

.IconsRedes a {
    color: black;
}

.ContRedes h5 {
    margin-top: 20px;
    text-align: center;
}

.LinksFoot {
    display: flex;
    align-items: end;
}

.LinksFoot h5 {
    margin-left: 20px;
}



/*  */

@media (min-width: 1920px) {
    .ContInfo {
        margin-left: 165px;
    }

    .BtnEntrar {
        height: 40px;
        padding: 0px 20px;
        font-size: 1.4rem;
        border: none;
        background-color: #5093EB;
        color: #fff;
        border-radius: 20px;
        margin-top: 30px;
        cursor: pointer;
    }

    .RepH1 {
        margin-left: 165px;
    }

    .TextQuemSomos {
        margin-left: 200px;
    }

    .Seguranca {

        justify-content: center;
    }

    .ComoFunc {

        justify-content: space-evenly;
    }

    .ImgCircEco {
        width: 550px;
        position: absolute;
        top: 450px;
        left: 250px;
    }

    .TextEco {
        top: 370px;
        right: 200px;
    }
}

@media (max-width: 768px) {
    html {
        width: 900px;
    }

    .ContInfo {
        margin-top: 0;
    }

    .ContInfo h1 {
        font-size: 50px;
    }

    .ContInfo p {
        width: 400px;
        font-size: 23px;
    }

    .ImgCirc1 {
        width: 500px;
        height: 500px;
        top: -200px;
        right: -300px;
    }

    .ImgCirc2 {
        width: 400px;
        height: 400px;
        top: -120px;
        right: -204px;
    }

    .ImgCirc3 {
        width: 200px;
        height: 200px;
        top: 140px;
        right: 50px;
    }

    .ContBtnLogin {
        display: block;
    }

    .BtnEntrar {
        height: 40px;
        padding: 0px 20px;
        font-size: 1.4rem;
        border: none;
        border-radius: 20px;
        margin-top: 30px;
        cursor: pointer;
        margin-right: 20px;
    }


    /*  */

    .ScrollPage {
        width: 850px;
        margin-top: 50px;
    }


    .RepH1 {
        width: 400px;
        margin-left: 50px;
        font-size: 50px;
    }

    .CircRep {
        width: 500px;
        height: 500px;
        top: 650px;
        right: -150px;
    }

    .CircRep2 {
        width: 450px;
        height: 450px;
        top: 700px;
        right: -90px;
    }

    .CircRep3 {
        width: 270px;
        height: 270px;
        top: 850px;
        right: 200px;
        z-index: -1;

    }

    /*  */

    .ComoFunc {
        margin-top: 500px;
    }

    .ImgComoFunc {
        width: 300px;
        height: 250px;
    }

    .TitleComoFunc {
        width: 500px;
        height: auto;
        margin-left: -20px;
    }

    .TitleComoFunc p {
        margin-top: 10px;
    }

    .ImgInfComoFunc {
        width: 60px;
    }

    /*  */

    .Video {
        width: 800px !important;
        height: 400px !important;
        margin-top: 150px;
    }

    /*  */

    .QuemSomos {
        margin-top: 100px;
    }

    .ImgQuemSomos {
        width: 500px;
    }

    .TextQuemSomos h1 {
        font-size: 50px;
    }

    .TextQuemSomos p {
        font-size: 23px;
        margin-top: 40px;
        margin-right: 20px;
    }

    /*  */

    .Seguranca {
        margin-top: 0;
    }

    .ImgSeguranca {
        width: 500px;
    }

    .TextSeguranca {
        width: 600px;
        margin-left: 50px;
        margin-top: 100px;
    }

    .TextSeguranca p {
        font-size: 23px;
    }

    .TextSeguranca .Bgc {
        width: 250px;
    }

    /* */

    .Eco {
        width: 100%;
        height: auto;
        position: relative;
    }

    .ImgEco {
        width: 900px;
        height: auto;
        margin-top: 150px;
    }

    .ImgCircEco {
        width: 400px;
        top: 250px;
        left: 50px;
    }

    .TextEco {
        width: 500px;
        top: 150px;
        right: 40px;
    }

    .TextEco p {
        font-size: 23px;
        margin-top: 20px;
    }

    /*  */


    .parceiros {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        letter-spacing: 10px;
    }

    .parceiros h1 {
        font-size: 50px;
    }

    .logos {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .logos img {
        width: 250px;
    }

    /*  */

    .ContFoot {
        width: 100%;
    }

    .IconsRedes svg {
        font-size: 50px;
    }

    .ContRedes h5 {
        font-size: 20px;
    }

    .LinksFoot h5 {
        font-size: 15px;
    }
}

@media (max-width: 480px){
    *{
        overflow-x: hidden;
    }
    main{
        width: 730px;
    }
    html{
        width: 730px;
    }

    /* .ContImgCirc1{
        display: none;
    } */

    .ImgCirc1{
        width: 350px;
        height: 350px; 
        top: -100px;
        right: -300px;
        overflow-x: hidden;
    }

    .ImgCirc2{
        width: 300px;
        height: 300px;
        top: -43px;
        right: -270px;
        overflow-x: hidden;
    }

    .ImgCirc3{
        width: 150px;
        height: 150px;
        top: 140px;
        right: -210px; 
        overflow-x: hidden;
    }

    /*  */

    .ScrollPage{
        width: 650px;
        margin-top: 50px;
    }

    /*  */

    .CircRep{
        width: 400px;
        height: 400px;
        top: 650px;
        right: -300px;
    }

    .CircRep2{
        width: 350px;
        height: 350px;
        top: 720px;
        right: -240px;
    }

    .ImgCircCasa{
        width: 150px;
    }

    .CircRep2 span{
        top: 90px;
    }

    .CircRep2 span p{
        font-size: 40px;
    }

    @keyframes spin_words{
        10%{
            transform: translateY(-250%);
        }
        25%{
            transform: translateY(-480%);
        }
        35%{
            transform: translateY(-700%);
        }
        
        }

    .CircRep3{
        width: 200px;
        height: 200px;
        top: 850px;
        right: -20px;
 
    }

    /*  */

    .ComoFunc{
        margin-top: 400px;
    }
    
    .ImgComoFunc{
        display: none;
    }

    .TitleComoFunc{
        margin-left: 0px;
    }

    .ContVideo{
        justify-content: start;
        overflow-y: hidden;
        margin-left: 10px;
    }
    
    
    .Video {
        width: 700px !important;
        height: 400px !important;
        margin-top: 150px;    
    }

    /*  */

     .ImgQuemSomos {
        width: 500px;
        margin-left: -200px;
    } 

    .TextQuemSomos {
        width: 600px;
        margin-left: 15px;
        margin-right: 15px;
    }

    /*  */

    .TextSeguranca {
        width: 400px;
        margin-left: 30px;
    }

     .ImgSeguranca{
        width: 400px;
        margin: -100px;
    }
    .TextSeguranca{
        margin-left: 20px;
    }
    .TextSeguranca .Bgc{
        width: 250px;
    }

    /* */

    .Eco{
        width: 700px;
        height: auto;
        position: relative;
    }
    
    .ImgEco{
        width: 750px;
        margin-top: 100px;
    }
    
    .ImgCircEco{
        width: 300px;
        top: 200px;
        left: 50px;
    }
    
    .TextEco{
        width: 350px;
        top: 80px;
    }

    /*  */

    .logos img{
        width: 200px;
    }
    
    /*  */

    hr{
        display: none;
    }

    .ContFoot{
        width: 700px;
        justify-content: start;
        margin-left: 10px;
        border-top: 1px solid black;
        padding-top: 20px;
    }

}