.misolici{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #def0f8;
    background-image: url(../../imgs/curvaazul.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.feed-container{
    width: 90%;
    height: 100vh;
    margin: auto;
    background-color: #fff;
}