.misolici {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding-top: 10px;
    background-color: #def0f8;
    z-index: -1;
    display: flex;
    flex-direction: row;
}

/*LATERAL*/

.lateralfeed {
    width: 20%;
    background-color: #fcfcfc;
    margin-left: 2%;
    height: 78vh;
    border-radius: 5px;
    filter: drop-shadow(7px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 99999;
}

.curvazul {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-top: -20px;
    z-index: -1000;

}

.pinfo {
    margin-top: 2%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30vh;
}

.perfilfo {
    width: 50%;
    height: 15vh;
    border-radius: 50%;
    margin-top: 10%;

}

.pinfo h2 {
    padding: 5%;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pinfo p {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.line {
    width: 100%;
}

.reque,
.plane,
.config {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 30vh;
}

.reque h3 {
    margin-left: 5%;
    text-align: left;
    padding-bottom: 5%;
    color: #00B4FF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.latebtn {
    background-color: #fff;
    border: 0;
    padding: 5%;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 9999;
    cursor: pointer;

}


.reque svg,
.plane svg,
.config svg {
    color: #DF931D;
    font-size: 20px;
}

.plane,
.config {
    height: 6vh;
}

.plane button {
    padding-bottom: 10%;
}

.config p {
    padding-top: 15%;

}


/*LATERAL*/
.feedcon {
    width: 72%;
    height: 100vh;
    background-color: #fff;
    margin-left: 3%;
    border-radius: 5px;
    padding-left: 5%;
    z-index: 9999;
    overflow-y: scroll;
    padding-bottom: 3%;
}

.post {
    width: 100%;
}

@media screen and (min-width: 960px) and (max-width: 1500px) {
    .pinfo p {
        font-size: 13px;
    }

    .lateralfeed {
        height: 75vh;
    }

    .latebtn {
        padding: 2%;
        font-size: 14px;
    }

    .latebtn svg {
        font-size: 17px;
    }

    
}

@media screen and (max-width: 960px) {
    .pinfo p {
        font-size: 12px;
    }

    .lateralfeed {
        height: 75vh;
    }

    .latebtn {
        padding: 10%;
        font-size: 16px;

    }

    .latebtn svg {
        font-size: 18px;
    }

    .reque {
        height: 40vh;
    }

    .lateralfeed {
        height: 85vh;
        width: 25%;
    }

    .pinfo {
        width: 95%;
        height: 25vh;
    }

    .pinfo h2 {
        font-size: 20px;
    }

    .perfilfo {
        width: 40%;
        height: 10vh;
    }

    .feedcon {
        margin-left: 1%;
    }
}