.misolici{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #def0f8;
    background-image: url(../../imgs/curvaazul.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
}

.feed-container{
    width: 80%;
    height: 100vh;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -2px -10px rgba(0, 0, 0, 0.1);
    padding-left: 5%; 
    padding-right: 5%; 
    overflow-x: hidden;
    overflow-y: scroll;
}

.hri{
    width: 100%;
    margin-left: 5%;
}