.clinav{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;

}

.clinav-contaiter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
    position: relative;
}

.LogoD{
    width: 135px;
}

.logo{
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-items: center;
}

.logo .icons{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-left: 16px;
    
}

.nav-climenu{
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
}

.menu-links{
    color: #1E86B1;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
}

.menu-item{
    line-height: 40px;
    margin-right: 1rem;
}

.menu-item:after{
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
}

.menu-item:hover:after{
    width: 100%;
    background-color: #1E86B1;
}

.menu-item .active{
    color: #000;
}

.menu-icon{
    display: none;
    color: #1E86B1;
}

.menu-icon .icons{
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.btn{
    width: 150px;
    height: 40px;
    margin-left: 0.2rem;
    margin-right: 3rem;
    border-radius: 10px;
    border: 1px solid #1E86B1;
    background-color: #1E86B1;
    color: #fff;
    font-size: 1.2rem;
    transition: .6s;
    cursor: pointer;

}

.btn:hover{
    background-color: #000;
    border: 1px solid #000;
    transition: .6s;
}

.modal-overlay {
    background: #000000a6;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 90%;
    max-width: 800px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    margin-top: 70px;
}

.ModalCand{
    width: 100%;
    height: 500px;
    border-radius: 7px;
    border: 1px solid #000;
    margin-bottom: 2rem;
    overflow-y: scroll;
}

.modal-content h4{
    color: #000000;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}


