.reg {
    background-image: url(../../imgs/RegistreCliente.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.auth-containerrc {
    width: 45%;
    height: 90vh;
    margin-left: 10%;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    background: #E8F8FF;
    box-shadow: -17px 11px 16px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

.titlere {
    color: #1E85B1;
    text-shadow: 2px 2px #1eb7f8;
    text-align: center; 
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}


.input-container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffc86a;
    background-color: #ffc86a;
    width: 48%;
    margin-right: 2%;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.input-container svg {
    color: #fff;
    margin-right: 5px;
    font-size: 17px;
}


.input-container input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
}


.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

}

.tamnho {
    width: 98%;
}

::placeholder {
    color: #fff;
}

.Btn_Registrop {
    width: 326.383px;
    height: 55px;
    border-radius: 20px;
    background: #E8A330;
    border: 1px solid #E8A330;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    color: #fff;

}

.Btn_Registrop:hover {
    /* Estilos quando o botão está em estado de hover */
    background-color: #ff8c00;
    /* Altere a cor de fundo ao passar por cima */
}

.clientere{
    padding: 5%;
    color: #ff8c00;
    
}

.termos{
    padding: 5%;
    color: #ff8c00;
}

.colorblue{
    background: rgb(66, 140, 244);
    border: 1px solid  rgb(66, 140, 244);
    
}

.colorbluet{
    color: rgb(1, 43, 102) ;
}


@media  only screen and (max-width: 480px) {
    .reg{
        height: 180vh;
    }
    .auth-containerrc{
        width: 80%;
        height: 65%;
    }
}