.esqLoc {
    width: 50vh;
    height: 50vh;
    margin-top: 0.3%;
    margin-left: 5.9%;
}

/*LOCALIZAÇÃO*/

.loc {
    background-color: #fff;
    padding: 5%;
    height: 9vh;
}

.loc h3 {
    padding-bottom: 4%;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.loc svg {
    color: green;
}

/*LOCALIZAÇÃO*/

/*REQUERIMENTO*/
.esqava {
    margin-top: 0.3%;
    background-color: #fff;
    height: 65vh;
}

.recreparos {
    height: 20vh;
    padding: 5%;
}

.recreparos h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ain {
    display: flex;
    flex-direction: row;
}

.recreparos h2 {
    color: #868686;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.aindn {
    margin-left: 1%;
    margin-top: 13%;
    color: #868686;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.num {
    color: #868686;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.repacon {
    margin-top: 3%;
    margin-left: 2%;
    color: #868686;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.position {
    margin-left: 48%;
}


/*REQUERIMENTO*/

/*AVALIAÇÕES*/

.title {
    text-align: center;
    color: #868686;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.aval {
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 5%;

}

.aval h3 {
    padding-top: 4%;
    color: #868686;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.aval p {
    padding-bottom: 4%;
    color: #868686;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}