.feedcont {
    position: relative;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-left: 2%;
    border-radius: 20px;
    height: 90vh;

}

.toppost {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    margin-left: 2%;
}

.perfoto {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.Perfilname {
    width: 35%;
    color: #ffa500;
    font-weight: 300;
    font-size: 20px;
    margin-left: 2%;
}

.descri {
    margin-left: 6%;
    width: 90%;
    color: #000000;
    font-weight: 300;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: start;
}

.Feddimg {
    width: 80%;
    margin-bottom: 10px;
    margin-left: 10%;
    height: 50vh;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.link {
    margin-left: 65%;
    padding-bottom: 2%;
}

.linkvbu {
    border: 0;
    background: none;
    color: #ffa500;
    cursor: pointer;
    font-size: 15px;
}

@media screen and (min-width: 960px) and (max-width: 1139px){
    .descri h3{
        padding: 0;
    }
}