*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    overflow-x: hidden;
}
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #03142b rgba(255, 166, 0, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #03142b;
    border-radius: 20px;
    border: 3px solid #ffffff;
}
