.Artigos{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #eefaff;
}

.ImgCurso{
    position: absolute;
    width: 100%;
}

.Curso{
    position: relative;
    width: 100%;
    height: 75vw;
}

.TextCurso{
    width: 35%;
    position: relative;
    top: 200px;
    left: 50px;
    text-align: center;
}
.TextCurso h1{
    color: #000000;
    font-size: 3rem;
}

.TextCurso p{
    font-size: 1.5rem;
    margin-top: 40px;  
}

.ImgCircEco1{
    width: 100%;
}

.Eco1{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 20px;
}

.TextEco1{
    width: 500px;
    position: absolute;
    top: 200px;
    right: 100px;
}
.TextEco1 h1{
    color: #d27c2c;
    font-size: 50px;
}
.TextEco1 p{
    font-size: 25px;
    margin-top: 40px;  
}

.tags{
    position: relative;
    width: 90%;
    height: 40vh;
    background-color: #fff;
    margin: auto;
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Mei, .Cnpj, .Como, .ArteNegocios{
    position: relative;
    width: 23%;
    height: 35vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
    cursor: pointer;
}

.Mei:hover, .Cnpj:hover, .Como:hover, .ArteNegocios:hover{
    transform: scale(1.05);
    transition: .5s;
}

.Mala, .Userchat, .Jornal, .UserFlecha{
    width: 150px;
    margin-bottom: 20px;
}

.Mei, .Cnpj, .Como, .ArteNegocios h1{
    text-align: center;
    font-size: 1.5rem;
}

.NoticiaText{
    position: relative;
    width: 90%;
    margin: auto;
    margin-bottom: 10vh;
}

.NoticiaText h1{
    font-size: 4rem;
    color: #d27c2c;
    text-shadow: 2px 2px #86470b;
    text-align: center;
}

.Noticias{
    position: relative;
    width: 90%;
    height: 430px;
    background-color: #fff;
    margin: auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Not1, .Not2, .Not3{
    position: relative;
    width: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
    cursor: pointer;
}

.Not1 h2, .Not2 h2, .Not3 h2{
    color: #d27c2c;
    font-size: 1rem;
    padding: 5px;
    margin-top: 15px;
}

.Not1 h1, .Not2 h1, .Not3 h1{
    font-size: 1.4rem;
    padding: 10px;
    text-align: center;
    font-weight: 400;
}

.Noticia1, .Noticia2, .Noticia3{
    width: 100%;
}

@media screen and (max-width: 960px){
    .tags{
        flex-wrap:wrap;
        height: auto;
    }

    .Mei, .Cnpj, .Como, .ArteNegocios{
        width: 40%;
    }

    .Noticias{
        flex-wrap: wrap;
        height: auto;
    }
    
    .Not1, .Not2, .Not3{
        width: 95%;
        height: auto;
        margin-top: 20px;
    }

    .Curso{
        height: 100vh;
    }

    .TextCurso h1{
        font-size: 2rem;
    }
    
    .TextCurso p{
        font-size: 1.2rem;
    }

    .TextEco1{
        width: 300px;
        top: 30px;
        right: 20px;
    }
    .TextEco1 h1{
        font-size: 50px;
    }
    .TextEco1 p{
        font-size: 20px;
        margin-top: 20px;  
    }
}