.perfiltudo{
    position: relative;
    height: 123vh;
    background-color: #def0f8;
}

.curva{
    position: absolute;
    width: 100%;
    height: 135vh;
    margin-top: -150px;

}

.secao1{
    position: relative;
    width: 90%;
    height: 50vh;
    background-color: #fff;
    margin: auto;
    margin-top: 10px;
    display: flex;
    text-align: center;
    gap: 50px;
}

.Perfil{
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: auto;
    margin-left: -2rem;
}

.QuemSou{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Nome{
    position: relative;
    width: 100%;
    display: flex;
}

.QuemSou h1{
    font-size: 60px;
}

.Desde{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5rem;
}

.Desde p{
    position: relative;
    font-size: 20px;
}

.Texto{
    position: relative;
    width: 100%;
    text-align: justify;
}

.Texto p{
    font-size: 20px;
}

.algo{
    position: relative;
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.Selo{
    width: 10rem;
    margin-top: -30px;
    margin-right: 10px;
}

.Reputacao{
    width: 18rem;
    margin-right: 10px;
}

.Secao2{
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.SecaoLateral{ 
    position: relative;
    float: left;
    width: 30%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.Localização{
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: #fff;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.Localização h1{
    width: 100%;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 200;
}

.Localização img{
    margin-left: 20px;
}

.Opiniao{
    position: relative;
    width: 100%;
    height: 42vh;
    background-color: #fff;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Linhas{
    display: flex;
    flex-direction: column;
    align-items:start;
}

.Linhas img{
    margin-bottom: 6px;
}

.Linhas p{
    font-size: 15px;
    margin-bottom: 2px;
}

.Opiniao h1{
    width: 100%;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 200;
}

.Opiniao h2{
    width: 20%;
    font-size: 60px;
    font-weight: 200;
}

.Rank{
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Rank h1{
    width: 100%;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 200;
}

.Rank h2{
    width: 100%;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 200;
    color: #f5ac02;
    cursor: pointer;
}

.Rank p{
    width: 100%;
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 2px;
    margin-bottom: 20px;
    color: #686868;
}

.Preferencias{
    position: relative;
    width: 100%;
    height: 16vh;
    background-color: #fff;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Preferencias h1{
    width: 100%;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Preferencias h2{
    width: 100%;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 200;
    color: #f5ac02;
    margin-top: 10px;
    cursor: pointer;
}

.Preferencias p{
    width: 100%;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #686868;
}

.Feed{
    position: relative;
    float: left;
    width: 69%;
    margin-top: 10px;
    margin-left: 10px;
    height: 70vh;
    background-color: #fff;
    overflow-y: scroll;
}

hr{
    width: 90%;
    margin: auto;
}

/* Telas Grandes */

@media screen and (min-width: 1600px){
    .Perfil{
        width: 25rem;
        height: 25rem;
    }
    
    .QuemSou h1{
        font-size: 70px;
    }
    
    .Desde p{
        font-size: 25px;
    }
    
    .Texto p{
        font-size: 25px;
    }

    .Localização h1{
        font-size: 25px;
    }
    
    .Linhas img{
        margin-bottom: 6px;
    }
    
    .Linhas p{
        font-size: 20px;
    }
    
    .Opiniao h1{
        font-size: 25px;
    }
    
    .Opiniao h2{
        font-size: 70px;
    }

    .Rank h1{
        font-size: 20px;
    }
    
    .Rank h2{
        font-size: 15px;
    }
    
    .Rank p{
        font-size: 15px;
    }
    
    .Preferencias h1{
        font-size: 25px;
    }
    
    .Preferencias h2{
        font-size: 15px;
    }
    
    .Preferencias p{
        font-size: 20px;
    }
}